@import "~perfect-scrollbar/css/perfect-scrollbar.css";

/* @media print {
  .ps {
    overflow: scroll !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
  }
} */

.d-block{
    display: block !important;
}

.MuiTableCell-root{
  word-break: unset !important;
}

.underline{ text-decoration: underline; }
.pointer{ cursor: pointer;}

.MuiFormHelperText-contained{
  margin-left: 0 !important;
}

.no-margin{
  margin: 0;
}

.red{
  color: red;
}

.green{
  color: green;
}